<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GRDBCipherOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GRDBCipheriOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GRDBOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GRDBOSXCrashTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GRDBOSXPerformanceTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GRDBiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>560C97CF1C0E22D300BF8471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>560FC5191CB003810014AA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>560FC55D1CB00B880014AA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56553BDA1C3E906C00522B5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567156191CB16729007DC145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56AFC9EE1CB1A8BB00F48B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56AFCA2B1CB1AA9900F48B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56AFCA841CB1ABC800F48B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E5D7C91B4D3FED00430942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E5D7D21B4D3FEE00430942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E5D7F81B4D422D00430942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC3773F219C8CBB3004FCF85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
